<div class="container mt-4">
    <div class="col-12 col-md-4 mb-2">
        <select class="form-select" [(ngModel)]="selectedCategory" (change)="filterByCategory(selectedCategory)">
             <option value="all">All categories</option>
             <option *ngFor="let category of categories" [value]="category"> {{category}}</option>   
        </select>
    </div>
    <div class="row row-cols-4 g-4">
        <div class="col"  *ngFor="let product of filteredProducts">
            <app-product [product]="product" (productOutput)="productOutPutEvent($event)" (wishlistOutput)="wishListOutPutEvent($event)"></app-product>
        </div>
    </div>
</div>
