<div class="card h-100">
  <img [src]="product.image" class="card-img-top" [alt]="product.title" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text"><strong>Price : </strong> {{product.price}}</p>
    <p class="card-text description"><strong>Description : </strong> {{product.description}}</p>
    <p class="card-text"><strong>Rating : </strong> {{product.rating.rate}}</p>
    <button class="btn btn-primary w-100"
    (click)="addToCart()"
    >Add to Cart</button>
     <button class="btn btn-primary w-100 mt-2"
    (click)="addToWishList()"
    >Wish List</button>
  </div>
</div>