<div class="card h-100">
  <img [src]="product.imgUrl" class="card-img-top" [alt]="product.productName" style="height: 200px; object-fit: cover;">
  <div class="card-body">
    <h5 class="card-title">{{product.productName}}</h5>
    <p class="card-text"><strong>Price : </strong> {{product.price}}</p>
    <p class="card-text"><strong>Description : </strong> {{product.description}}</p>
    <p class="card-text"><strong>Stock : </strong> {{product.stockCount}}</p>
    <button class="btn btn-primary w-100" 
    [disabled]="product.stockCount === 0"
    (click)="addToCart()"
    >Add to Cart</button>
  </div>
</div>