<div class="card" style="width: 18rem;">
    <img [src]="product.imgUrl" class="card-img-top" alt="product.productName" style="height: 200px;object-fit:cover;">
    <div class="card-body">
      <h5 class="card-title">{{product.productName}}</h5>
      <p class="card-text">Price :<strong>{{product.price}}</strong></p>
      <p class="card-text"><strong>{{product.discription}}</strong></p>
      <p class="card-text">Stock :<strong>{{product.stockCount}}</strong></p>
      <button href="#" class="btn btn-primary"
      [disabled]="product.stockCount === 0"
      (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
